body {
    background-image: url(../uploads/emp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555; 
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #3b6ea4;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;  
}

button[type="submit"]:hover {
    background-color: #859db6;
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

input:focus {
    border: none;
    background-color:bisque; 
    color: #333;
}
#dashboard {
    display: flex; 
    float: right;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 12px;
    border-radius: 7px;
}
#dashboard:hover {
    background-color: rgb(52, 49, 49);
}
.error-message {
    color: red;
    font-size: 16px; 
    font-weight: bold; 
    margin-bottom: 10px; 
    margin-left:37%;
}

