body {
    background-image: url(../uploads/user.jpg);  
    background-repeat: no-repeat;
    background-size: cover;
}
a {
    display: block;
    text-align: center;
    margin-top: 50px; 
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: large;
    padding: 20px;
    border-radius: 5px;
    width: 8%;
    margin-left: 45%;
    margin-top: 27%;
    text-decoration: none;
}
