body {
    background-image: url(../uploads/emp2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 70px;
}
form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
h2 {
    color: #333;
    text-align: center;
}
p {
    margin-bottom: 20px;
}
a {
    display: inline-block;
    background-color: #3b6ea4;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    padding: 10px;
    margin-left: 170px;
}
a:hover {
    background-color: #859db6;
}
form a {
    margin-top: 10px;
}
form p {
    color: black;
}
.bold {
    font-weight: bold;
    display: inline-block;
    width: 150px;
}
#dashboard {
    display: flex; 
    float: right;
    background-color: black;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    padding: 12px;
    border-radius: 7px;
}
#dashboard:hover {
    background-color: rgb(52, 49, 49);
}



